In [1]:
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

import matplotlib.pyplot as plt
from pandas.core.common import flatten
import copy
import numpy as np
import random

import torch
from torch import nn
from torch import optim
import torch.nn.functional as F
from torchvision import datasets, transforms, models
from torch.utils.data import Dataset, DataLoader

# import albumentations as A
# from albumentations.pytorch import ToTensorV2
import cv2
import pandas as pd

import glob
from tqdm import tqdm

# Make train/val

In [24]:
val_contest = pd.DataFrame(np.zeros(2638, dtype=int), columns=['label'])

In [30]:
img_paths = [f'val/{i}.png' for i in range(2638)]
val_contest['img_path'] = img_paths

In [31]:
val_contest

      label      img_path
0         0     val/0.png
1         0     val/1.png
2         0     val/2.png
3         0     val/3.png
4         0     val/4.png
...     ...           ...
2633      0  val/2633.png
2634      0  val/2634.png
2635      0  val/2635.png
2636      0  val/2636.png
2637      0  val/2637.png

[2638 rows x 2 columns]

In [43]:
columns_titles = ["img_path", "label"]
val_contest = val_contest.reindex(columns=columns_titles)

In [44]:
val_contest

          img_path  label
0        val/0.png      0
1        val/1.png      0
2        val/2.png      0
3        val/3.png      0
4        val/4.png      0
...            ...    ...
2633  val/2633.png      0
2634  val/2634.png      0
2635  val/2635.png      0
2636  val/2636.png      0
2637  val/2637.png      0

[2638 rows x 2 columns]

In [45]:
val_contest.to_csv('val.csv', index=False)

# Make Submit

In [63]:
val_contest_outputs = pd.read_csv('/Users/azatv/PycharmProjects/YSDA-Labelling-Course-Project-Round-1/micronet-main/val_contest.csv')

In [64]:
val_contest['label'] = val_contest_outputs['0']

In [77]:
val_contest['label'] = val_contest['label'].apply(lambda predict: int(predict > 0))

In [82]:
val_contest['img_path'] = val_contest['img_path'].apply(lambda path: path.split('/')[-1])

In [83]:
val_contest.to_csv('micronet_m3.csv', index=False)